site_name: VSF Infrastructure
site_description: Terraform for Virtual Server Farm on Bizon1
theme:
  name: material
  palette:
    scheme: slate
    primary: indigo
plugins:
  - search
nav:
  - Home: index.md
  - Setup: setup/index.md
